{% extends 'client_layout.html' %}

{% block content %}
    <div class="container">
        <div class="row align-items-center justify-content-center" style="height: 100vh">
            <div class="col-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        {% if request.args.get('err') %}
                        <div class="alert alert-danger">
                            {{ request.args.get('m') }}
                        </div>
                        {% elif request.args.get('succ') %}
                        <div class="alert alert-success">
                            {{ request.args.get('m') }}
                        </div>
                        {% endif %}

                        <form method="POST">
                            <h4>Client Registration?</h4>
                            <p>Getting to know you.</p>
                            <div class="form-group">
                                <input type="text" id='first_name' class="form-control" name="first_name" placeholder="First name" />
                            </div>
                            <div class="form-group">
                                <input type="text" id='last_name' class="form-control" name="last_name" placeholder="Last name" />
                            </div>
                            <div class="form-group">
                                <input type="text" id='email' class="form-control" name="email" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <input type="text" id='phone' class="form-control" name="phone" placeholder="Phone" />
                            </div>
                            <div class="form-group">
                                <input type="text" id='province' class="form-control" name="province" placeholder="Province" />
                            </div>
                            <div class="form-group">
                                <input type="text" id='office' class="form-control" name="office" placeholder="Office Address" />
                            </div>
                            <div class="form-group">
                                <select name="law_practice" id='law_practice' class="form-control">
                                    <option selected value="">--Law Practice--</option>
                                    <option value="family">Family</option>
                                    <option value="employment">Employment</option>
                                    <option value="criminal_defense">Criminal Defense</option>
                                    <option value="real_estate">Real Estate</option>
                                    <option value="business">Business</option>
                                    <option value="immigration">Immigration</option>
                                    <option value="personal_injury">Personal Injury</option>
                                    <option value="wills_trusts_estates">Wills & Estates</option>
                                    <option value="bankruptcy_finance">Bankruptcy</option>
                                    <option value="intellectual_property">Intellectual Property</option>
                                    <option value="others">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" id='bar_number' class="form-control" name="bar_number" placeholder="Bar Number" />
                            </div>
                            <button type="submit" id='btnRegister' class="btn btn-primary btn-block">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}