{% extends 'empty_layout.html' %}

{% block content %}
    <div id="card-result-container">
        <form method="POST" action="{{url_for('find_lawyer')}}" class="form-inline">
            <!-- f in id means find lawyer -->
            <div class="form-group">
                <select id="practice" name="lawpractice" class="form-control" required>
                    <option selected="true" disabled="disabled" >Select a Legal Issue</option>
                    {% for key, value in law_practice.items()|sort %}
                        {% if request.args.get('practice') == value %}
                        <option selected value="{{key}}" > {{value}}
                        {% else %}
                        <option value="{{key}}" > {{value}}
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="text" name="city" value="{% if request.args.get('cityOrMunicipality') %}{{request.args.get('cityOrMunicipality')}}{% endif %}" class="form-control" id="cityOrMunicipality" placeholder="City or Municipality" required>
            </div>
            <button type='submit' id="btnFindLawyer" class="btn-get-started">Find Now</button>
        </form> 
        {% if results %}
             
                <div id="found-lawyers">
                    {% for person in results %}
                            <div id="card-result-container-cards ">
                                    <div class="card-container wow fadeInUp">
                                            <div class="card">
                                                <div class="front">
                                                    <div class="cover">
                                                        <img src="/static/img/bg-card.jpeg"/>
                                                    </div>
                                                    <div class="user">
                                                        <!-- Tarungon pani nako ang sa profile pic. -->
                                                        {% if person.lawyer.profile_pic %}
                                                        <img class="img-circle" src="{{person.lawyer.profile_pic}}}"/>
                                                        {% else %}
                                                        
                                                        <img class="img-circle" src="/static/img/default-avatar.jpg"/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="content">
                                                        <div class="main">
                                                            <h3 class="name">{{person.lawyer.first_name}}&nbsp;{{person.lawyer.last_name}}</h3>
                                                            <p class="profession">{{person.law_practice}}</p>                        
                                                            <p class="text-center" style="    height: 93px;">{{person.lawyer.aboutme}}</p>
                                                        </div>
                                                        <div class="footer">
                                                            <div class="rating">
                                                                <i class="fa fa-mail-forward"></i> Auto Rotation
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> <!-- end front panel -->
                                                <div class="back">
                                                    <div class="header">
                                                    </div>
                                                    <div class="content">
                                                        <div class="main">
                                                            <h4 class="text-center">About Me</h4>
                                                            <p class="text-center" style="overflow-y: auto;">{{person.lawyer.aboutme}}</p>
                                
                                                            <div class="stats-container">
                                                                <div class="stats">
                                                                    <h4>235</h4>
                                                                    <p>
                                                                        Cases
                                                                    </p>
                                                                </div>
                                                                <div class="stats">
                                                                    <h4>114</h4>
                                                                    <p>
                                                                        Following
                                                                    </p>
                                                                </div>
                                                                <div class="stats">
                                                                    <h4>35</h4>
                                                                    <p>
                                                                        Projects
                                                                    </p>
                                                                </div>
                                                            </div>
                                
                                                        </div>
                                                    </div>
                                                    <div class="footer">
                                                        <div class="social-links text-center">
                                                            <a href="{{url_for('see_more',lawyer_email=person.lawyer.email)}}" id="preAppoint">See More</a>
                                                            <!-- <button id="preAppoint">Pre Appoint!</button> -->
                                                        </div>
                                                    </div>
                                                </div> <!-- end back panel -->
                                            </div> <!-- end card -->
                                                
                                        </div>              
                            </div>
                    {% endfor %}
                </div>
            
        {% else %}
        
        <div class="container">

            <h2 id="noResults">No Results Found &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-close"></span></h2>
        </div>
        {% endif %}
    </div>

{% endblock %}