{% extends 'layout-view.html' %}

{% block content %}

    



    <section id="hero-viewcase">
            <div class="hero-viewcase-container">                  
                    <div class="container">
                            <div id="viewcase-header">
                             <h1 class="wow fadeInDown">{{case[0].case_title}}</h1>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 " id="viewcase-lawyerPortrait">
                                    
                                    <img src="{{case[0].lawyer.profile_pic}}" alt="" class="wow fadeInLeft">
                                    <h2 class="wow fadeInLeft">Atty. {{case[0].lawyer.first_name}} &nbsp;&nbsp;{{case[0].lawyer.last_name}}</h2>
                                    <h5  class="wow fadeInLeft">Lawyer</h5>
                                </div>
                                <div class="col-sm-6 " id="viewcase-clientPortrait">
                                        <img src="{{case[0].client.profile_pic}}" class="wow fadeInRight" alt="">
                                    <h2 class="wow fadeInRight"data-wow-delay=".10s">{{case[0].client.first_name}} &nbsp;&nbsp;{{case[0].client.last_name}}</h2>
                                    <h5  class="wow fadeInRight">Client</h5>
                                </div>
                            </div>
                         </div> 
        </div>
    </section>

    <!--==========================
  About Us Section
============================-->
<section id="about-viewcase">
        <div class="container">
            <!-- <input type="text" id="vc-client_id" value="{{client}}" hidden />
            <input type="text" id="vc-lawyer_id" value="{{lawyer}}" hidden />
            <input type="text" id="vc-case_id" value="{{case[0].case_id}}" hidden />
            <input type="text" id="vc-case_title" value="{{case[0].case_title}}" hidden />
            <input type="text" id="vc-case_desc" value="{{case[0].case_description}}" hidden />
            <input type="text" id="vc-case_stat" value="{{case[0].case_status}}" hidden /> -->

                <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Homepage</a></li>
                        <li><a data-toggle="tab" href="#payment">Payment</a></li>
                        <li><a data-toggle="tab" href="#documents">Documents</a></li>
                        <li><a data-toggle="tab" href="#caseDetails">Case Details</a></li>
                        
                        {% if lawyer %}
                        <div style="float:right;">
                           <a href="{{url_for('edit_case',case_id=case[0].case_id,client=client,lawyer_id=lawyer)}}"><button class="normal-button-mine">Edit Case &nbsp;<span class="glyphicon glyphicon-cog"></span></button></a>
                        </div>
                        {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div id="vc-event-container" class="d-flex justify-content-center">
                            <div class="form-group">
                                <input type="text" placeholder="Enter Event Title" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="" id="" cols="30" rows="10">asdfasdfasdfasdfasdfasdfasdfasdfadfs</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="documents">
                        <h2>hello</h2>
                    </div>
                </div>
        </div>
      </section><!-- #about -->
{% endblock %}