{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        {% if request.args.get('err') %}
                            <div class="alert alert-danger">
                                {{ request.args.get('m') }}
                            </div>
                        {% elif request.args.get('succ') %}
                            <div class="alert alert-success">
                                {{ request.args.get('m') }}
                            </div>
                        {% endif %}
                        <form id="update" method="POST" enctype="multipart/form-data">
                            <h4>Profile Settings</h4>
                            <input type="hidden" id='lawyer_id' value='{{ lawyer }}'>
                            {% if lawyer_dict.profile_pic %}
                            <img src="{{ lawyer_dict.profile_pic }}" width='100px' height='100px' class="img-thumbnail" id='lawyerpic' />
                            {% else %}
                            <img src="/static/images/default_lawyer_pic.png" width='100px' height='100px' class="img-thumbnail" id='lawyerpic' />
                            {% endif %}
                            <div class="form-group">
                                <label for="profilepic">Profile Picture</label>
                                <input type="file" class="form-control-file" id="image" name="image" accept=".jpg, .jpeg, .png" multiple>
                            </div>
                            <div class="form-group">
                                <input type="text" id='first_name' class="form-control" value="{{ lawyer_dict.first_name }}" name="first_name" placeholder="First name" />
                            </div>
                            <div class="form-group">
                                <input type="text" id='last_name' class="form-control" value="{{ lawyer_dict.last_name }}" name="last_name" placeholder="Last name" />
                            </div>
                            <div class="form-group">
                                <input type="text" id='email' class="form-control" value="{{ lawyer_dict.email }}" name="email" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <input type="text" id='phone' class="form-control" value="{{ lawyer_dict.phone }}" name="phone" placeholder="Phone" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="city" id="city" value="{{ lawyer_dict.city }}" class="form-control" placeholder="City">
                            </div>
                            <div class="form-group">
                                <input type="text" id='office' value="{{ lawyer_dict.office }}" class="form-control" name="office" placeholder="Office Address" />
                            </div>
                            <div class="form-group">
                                <select name="law_practice" id='law_practice' class="form-control">
                                    {% for key, value in law_practice.items() %}
                                        <option value="{{key}}" 
                                        {% if key in lawyer_dict.law_practice %} selected {% endif %}
                                        >
                                        {{value}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" id="btnUpdateLawyer" class="btn btn-primary btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}