{% extends 'layout.html' %}

{% block content %}
<br />

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            
      </div>
      <div class="modal-footer text-justify">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="previewImage col-s4">

</div>

<!-- u in every id stands for Update -->
<!-- hidden input value lawyer which is id for route purpose  -->

<!-- Update Profile Picture -->
<div>
    <h3>Profile Picture</h3>
    <form method="post">
         <input type="hidden" class='lawyer_id' value='{{ lawyer }}'>
        {% if lawyer_dict.profile_pic %}
        <img src="{{ lawyer_dict.profile_pic }}" width='160px' height='160px' class="img-thumbnail" id='lawyerpic' />
        {% else %}
        <img src="/static/images/default_lawyer_pic.png" width='160px' height='160px' class="img-thumbnail" id='lawyerpic' />
        {% endif %}
        <div class="form-group">
            <label for="profilepic">Profile Picture</label>
            <input type="file" class="form-control-file" id="image" name="image" accept=".jpg, .jpeg, .png" multiple>
        </div>
        <button id='btnLawyerSavePicture' class="btn btn-primary">Save</button>
    </form>
</div>

<!-- Update Personal -->
<div>
    <h3>Profile Information</h3>
    <form method="post">
        <input type="hidden" class='lawyer_id' value='{{ lawyer }}'>
        <div class="form-group">
            <input type="text" id="ufirst_name" value="{{ lawyer_dict.first_name }}" class="form-control" placeholder="First name">
        </div>
        <div class="form-group">
            <input type="text" id="ulast_name" value="{{ lawyer_dict.last_name }}" class="form-control" placeholder="Last name">
        </div>
        <div class="form-group">
            <input type="text" id="uphone" value="{{ lawyer_dict.phone }}" class="form-control" placeholder="Phone">
        </div>
        <div class="form-group">
            <input type="text" id="ucityOrMunicipality" value="{{ lawyer_dict.cityOrMunicipality }}" class="form-control" placeholder="City Or Municipality">
        </div>
        <div class="form-group">
            <input type="text" id="uoffice" value="{{ lawyer_dict.office }}" class="form-control" placeholder="Office">
        </div>
        <div class="checkbox">
            {% for key, value in law_practice.items()|sort %}
            <label>
                <input type="checkbox" class="practice" 
                {% for practice in practices %}
                {% if key in practice.law_practice %}
                    checked
                {% endif %}
                {% endfor %}
                value="{{ value }}"> {{ value }}
            </label>
            {% endfor %}
        </div>
        <button id='btnLawyerSaveInfo' class="btn btn-primary">Save</button>
    </form>
</div>

<!-- Update Email -->
<div>
    <h3>Change Email</h3>
    <form method="post">
        <input type="hidden" class='lawyer_id' value='{{ lawyer }}'>
        <div class="form-group">
            <input type="text" id='current_email' value="{{ lawyer_dict.email }}" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" id='new_email' class="form-control" placeholder="New email">
        </div>
        <div class="form-group">
            <!-- e id is for email -->
            <input type="password" id='e_current_password' class="form-control" placeholder="Current password">
        </div>
        <button id="btnLawyerSaveEmail" class="btn btn-primary" >Save</button>
    </form>
</div>

<!-- Update Password -->
<div>
    <h3>Change Password</h3>
    <form method="post">
        <input type="hidden" class='lawyer_id' value='{{ lawyer }}'>
        <div class="form-group">
            <input type="password" id='current_password' class="form-control" placeholder="Current password">
        </div>
        <div class="form-group">
            <input type="password" id='new_password' class="form-control" placeholder="New password">
        </div>
        <div class="form-group">
            <input type="password" id='confirm_password' class="form-control" placeholder="Confirm password">
        </div>
        <button id='btnLawyerSavePassword' class='btn btn-primary'>Save</button>
    </form>
</div>
{% endblock %}