{% extends 'empty_layout.html' %}

{% block content %}

    
    <div class="container">
            
            
            <div id="lawyer-portrait">
                    <div class="lawyer-details-image">
                            <img id="profile-pic-seemore" src="{{results.profile_pic}}" alt="">
                    </div>
                    <div id="lawyer-details">
                        <h2>{{results.first_name}}&nbsp;&nbsp;{{results.last_name}}</h2>
                        {% if results.firm %}
                        <h3>{{results.firm}} Firm</h3>    
                        {% endif %}
                        <h3>{{results.email}}</h3> 
                    </div>
            </div>
            <div id="lawyer-contents">
                <button>Pre Appoint</button>
                <div id="aboutme">
                    <h1>About Me</h1>
                    <p>{{results.aboutme}}</p>
                </div>
                    <textarea name="" id="" cols="30" rows="10">{{results}}</textarea>
            </div>
    </div>
    
{% endblock %}