{% extends 'empty_layout.html' %}

{% block content %}
<i class="fa fa-cloud"></i>
    <div class="container">

        <div class="form-group">
            <select class="form-control" id="case">
                <option selected="true" disabled="disabled">Select Case</option>
                {% for case in cases %}
                <option class="case" value="{{ case.case_title }}"> {{ case.case_title }} </option>>
                {% endfor %}
            </select>
        </div>

        <br />
        <!-- adding case form -->
        <form method="POST">
            <input type="hidden" id="lawyer_id" value="{{ lawyer }}">

            <div class="form-group">
                <input type="text" id="add-case" class="form-control" placeholder="Case name">
            </div>

            <div class="form-group">
                <input type="text" id="client-id" class="form-control" placeholder="Client ID">
            </div>

            <div class="form-group">
                <textarea id="case-description" class="form-control" rows="3" placeholder="Case Description"></textarea>
            </div>
            
                <button class="btn btn-primary" id="btnAddCase" >Add Case</button>
        </form>

        <br />
    </div>
{% endblock %}