{% extends 'layout.html' %}

{% block content %}

<!-- error and success message info -->
{% if request.args.get('err') %}
<div class="alert alert-danger">
    {{ request.args.get('m') }}
</div>
{% elif request.args.get('succ') %}
<div class="alert alert-success">
    {{ request.args.get('m') }}
</div>
{% endif %}

<form method="POST">
    <h4>A Lawyer?</h4>
    <p>Getting to know you.</p>
    <div class="form-group">
        <input type="text" id='first_name' class="form-control" name="first_name" placeholder="First name" />     
    </div>
    <div class="form-group">
        <input type="text" id='last_name' class="form-control" name="last_name" placeholder="Last name" />
    </div>
    <div class="form-group">
        <input type="text" id='email' class="form-control" name="email" placeholder="Email" />
    </div>
    <div class="form-group">
        <input type="text" id='phone' class="form-control" name="phone" placeholder="Phone" />
    </div>
    <div class="form-group">
        <input type="text" id='cityOrMunicipality' class="form-control" name="cityOrMunicipality" placeholder="City Or Municipality" />
    </div>
    <div class="form-group">
        <input type="text" id='office' class="form-control" name="office" placeholder="Office Address" />
    </div>
    <div class="checkbox">
        {% for key, value in law_practice.items()|sort %}
        <label>
            <input type="checkbox" class="practice" value="{{ value }}"> {{ value }}
        </label>
        {% endfor %}
    </div>
    <button id='btnLawyerSignup' class="btn btn-primary btn-block">Register</button>
</form>
{% endblock %}