{% extends 'layout.html' %}

{% block content %}
<form method="POST">
    <h4>Find the Right Lawyer now</h4>
    <div class="form-group">
        <select name="main_category" class="form-control">
            <option selected value="">Select a Legal Issue</option>
            <option value="Constitutional Law">Constitutional Law</option>
            <option value="Criminal Law">Criminal Law</option>
            <option value="Business Law">Business Law</option>
            <option value="Labor Law">Labor Law</option>
            <option value="Civil Law">Civil Law</option>
            <option value="Tax Law">Tax Law</option>
            <option value="Family Law">Family Law</option>
            <option value="Others">Others</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="province" placeholder="Province">
    </div>
    <button type='submit' class='btn btn-primary btn-block'>Find a Lawyer</button>
</form>
    <!-- This is the list results -->
    <div>
        
    </div>
    <h4>A Lawyer?</h4>
    <p>Getting to know you.</p>
    <small><a href="{{ url_for('lawyer_signup') }}">Become a lawyer with us.</a></small>

    
    <h4>Log In?</h4>
    <small><a href="#">Sign In Now!.</a></small>
{% endblock %}