<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Case
        {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/static/css/aos.css">
    <link rel="stylesheet" href="/static/css/rangeslider.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar container py-0 bg-white" role="banner">

        <!-- <div class="container"> -->
        <div class="row align-items-center">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="/" class="text-black mb-0">CA<span class="text-primary">SE</span>
                    </a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        {% if client or not lawyer %}
                        <li class="{{ 'active' if active_page == 'home' else '' }}"><a href="/">Home</a></li>
                        <li class="{{ 'active' if active_page == 'lawyers' else '' }}"><a href="/lawyers">Lawyer</a>
                        </li>
                        {% endif %}
                        {% if lawyer %}
                        <li class="{{ 'active' if active_page == 'dashboard' else '' }}"><a href="/lawyer/{{lawyer}}/dashboard">Dashboard</a>
                        </li>
                        <li class="{{ 'active' if active_page == 'clients' else '' }}"><a href="/lawyer/{{lawyer}}/clients">My Client</a></li>
                        {% endif %}
                        
                        {% if client %}
                        <li class="{{ 'active' if active_page == 'cases' else '' }}"><a
                                href="/client/{{client}}/cases">Case</a></li>
                        {% elif lawyer %}
                        <li class="{{ 'active' if active_page == 'cases' else '' }}"><a
                                href="/lawyer/{{lawyer}}/mycases">Case</a></li>
                        {% endif %}
                        {% if client or not lawyer %}
                        <li class="{{ 'active' if active_page == 'about' else '' }}"><a href="/about">About</a></li>
                        <li class="{{ 'active' if active_page == 'contact' else '' }}"><a href="/contact">Contact</a>
                        </li>
                        {% endif %}
                        {% if client %}
                        <li class="has-children {{ 'active' if active_page == 'profile' else '' }}">
                            <a href="#">Settings</a>
                            <ul class="dropdown">
                                <li><a href="/client/{{ client }}/myaccount">My Account</a></li>
                                <li><a href="/signout">Sign Out</a></li>
                            </ul>
                        </li>
                        {% elif lawyer %}
                        <li class="has-children {{ 'active' if active_page == 'profile' else '' }}">
                            <a href="#">Settings</a>
                            <ul class="dropdown">
                                <li><a href="/lawyer/{{ lawyer }}/myaccount">My Account</a></li>
                                <li><a href="/signout">Sign Out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="has-children {{ 'active' if active_page == 'signin' else '' }}">
                            <a href="#">Sign in</a>
                            <ul class="dropdown">
                                <li><a href="/client/signin">as Client</a></li>
                                <li><a href="/lawyer/signin">as Lawyer</a></li>
                            </ul>
                        </li>
                        <li class="has-children {{ 'active' if active_page == 'signup' else '' }}">
                            <a href="#">Sign up</a>
                            <ul class="dropdown">
                                <li><a href="/client/signup">as Client</a></li>
                                <li><a href="/lawyer/signup">as Lawyer</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <!-- <li><a href="#" class="cta"><span class="bg-primary text-white rounded">+ Post an Ad</span></a>
                        </li> -->
                    </ul>
                </nav>
            </div>


            <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
                <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
            </div>

        </div>
        <!-- </div> -->

    </header>

    {% block content %} {% endblock %}

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="footer-heading mb-4">Few Words About Uss</h2>
                            <p>We are an application that helps Clients and Lawyers connect efficiently, we make things
                                much more comfortable than the old ways of dealing a case. We offer great services.</p>
                        </div>

                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Navigations</h2>
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="/lawyers">Lawyer</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Follow Us</h2>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Made with ❤️at Case.<br /> ©
                            <script>document.write(new Date().getFullYear());</script> Case. All rights reserved
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.stellar.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/rangeslider.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/script.js"></script>
    <script>
      var map;
  var service;
  var infowindow;

  function initMap() {
    var cebu = new google.maps.LatLng(10.3157, 123.8854);

    infowindow = new google.maps.InfoWindow();

    map = new google.maps.Map(
      document.getElementById('map_canvas'), { center: cebu, zoom: 15 });
    address = $("#lawyerAddress").val();
    var request = {
      query: address,
      fields: ['name', 'geometry'],
    };

    service = new google.maps.places.PlacesService(map);

    service.findPlaceFromQuery(request, function (results, status) {
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }

        map.setCenter(results[0].geometry.location);
      }
    });
  }

  function createMarker(place) {
    var marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location
    });

    google.maps.event.addListener(marker, 'click', function () {
      infowindow.setContent(place.name);
      infowindow.open(map, this);
    });
  }
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpO3zy8fmYoy5hx5ER3XKKYFKvXZg7Zws&libraries=places&callback=initMap"
        async defer></script>
</body>

</html>