<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">

    {% if title %}
        <title>Case - {{ title }}</title>
    {% else %}
        <title>Case</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


        <header id="header">
                <div class="container">
            
                  <div id="logo" class="pull-left">
                    <a href="#hero"><img src="/static/img/logo.png" alt="" title="" /></img></a>
                    <!-- Uncomment below if you prefer to use a text logo -->
                    <!--<h1><a href="#hero">Regna</a></h1>-->
                  </div>
            
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                      <li class="menu-active"><a href="/">Home</a></li>
                      <li><a href="#about">About Us</a></li>
                      <li><a href="#services">Services</a></li>
                      <li><a href="#team">Team</a></li>                      
                      <li><a href="#contact">Contact Us</a></li>
                      <li class="menu-has-children"><a href="">Sign In</a>
                        <ul>
                          <li><a href="{{ url_for('client_signin') }}">As a Client</a></li>
                          <li><a href="{{ url_for('lawyer_signin') }}">As a Lawyer</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav><!-- #nav-menu-container -->
                </div>
        </header>
    
    <main id="main">
        <section id="hero">
                <div class="hero-container">                  
                  {% block content %} {% endblock %}                  
                </div>
        </section>

        <!--==========================
      About Us Section
    ============================-->
    <section id="about">
            <div class="container">
              <div class="row about-container">
      
                <div class="col-lg-6 content order-lg-1 order-2">
                  <h2 class="title">Few Words About Us</h2>
                  <p>
                      We are an application that helps Clients and Lawyers connect effeciently, we make things much more comfortable than the old ways of dealing a case. We offer great services.
                  </p>
      
                  <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title"><a href="">Organizing Documents</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                  </div>
      
                  <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-photo"></i></div>
                    <h4 class="title"><a href="">Map Availability</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                  </div>
      
                  <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title"><a href="">Fast Updates about the case</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                  </div>
      
                </div>
      
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
              </div>
      
            </div>
          </section><!-- #about -->
          <!--==========================
      Services Section
    ============================-->
    <section id="services">
            <div class="container wow fadeIn">
              <div class="section-header">
                <h3 class="section-title">Services</h3>
                <p class="section-description">Here are the services we can offer!</p>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
                    <h4 class="title"><a href="">Calendar</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                  <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
                    <h4 class="title"><a href="">Maps</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                  <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
                    <h4 class="title"><a href="">Upload Document</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                    <h4 class="title"><a href="">Online Appointments</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                  <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                  <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
                    <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                  </div>
                </div>
              </div>
      
            </div>
          </section><!-- #services -->
          <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
            <div class="container wow fadeIn">
              <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                  <h3 class="cta-title">Become our Lawyer!</h3>
                  <p class="cta-text">We can help you meet your clients by clicking more of the details here</p>                    
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                  <a class="cta-btn align-middle" href="#">See More</a>
                </div>
              </div>
      
            </div>
          </section><!-- #call-to-action -->
          <!--==========================
      Team Section
    ============================-->
    <section id="team">
            <div class="container wow fadeInUp">
              <div class="section-header">
                <h3 class="section-title">Team</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="member">
                    <div class="pic"><img src="/static/img/team-1.jpg" alt=""></div>
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6">
                  <div class="member">
                    <div class="pic"><img src="/static/img/team-2.jpg" alt=""></div>
                    <h4>Sarah Jhinson</h4>
                    <span>Product Manager</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6">
                  <div class="member">
                    <div class="pic"><img src="/static/img/team-3.jpg" alt=""></div>
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
      
            </div>
          </section><!-- #team -->
    </main>
    {% if lawyer %}
    <a href="{{ url_for('dashboard') }}" class='btn btn-primary'>Dashboard</a>
    <a href="{{ url_for('mycase',lawyer_id=lawyer) }}" class='btn btn-primary'>My Case</a>
    <a href="{{ url_for('lawyer_account_setting',lawyer_id=lawyer) }}" class='btn btn-primary'>Account Setting</a>
    <a href="{{ url_for('signout') }}" class='btn btn-primary'>Sign Out</a>
    {% endif %}

    {% if client %}
        <h4>Welcome client !! {{ client }}</h4>
    {% endif %}
    
    
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hoverIntent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/superfish.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
</body>
</html>