{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="row align-items-center justify-content-center" style="height: 100vh">
            <div class="col-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10">

                        <h4>Thank you, We will contact you soon.</h4>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}