{% extends 'layout-view.html' %}

{% block content %}

    



    <section id="hero-viewcase">
            <div class="hero-viewcase-container">                  
                    <div class="container">
                            <div id="viewcase-header">
                             <h1 class="wow fadeInDown">{{case[0].case_title}}</h1>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 " id="viewcase-lawyerPortrait">
                                    
                                    <img src="{{case[0].lawyer.profile_pic}}" alt="" class="wow fadeInLeft">
                                    <h2 class="wow fadeInLeft">Atty. {{case[0].lawyer.first_name}} &nbsp;&nbsp;{{case[0].lawyer.last_name}}</h2>
                                    <h5  class="wow fadeInLeft">Lawyer</h5>
                                </div>
                                <div class="col-sm-4" >
                                    <div id="viewcase-createEventButton">
                                        <div class="text-center">
                                            <button type="button" id="modalBtn" class="btn btn-info btn-lg wow fadeInUp" data-toggle="modal" data-target="#creatEvent">Create Event</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 " id="viewcase-clientPortrait">
                                        <img src="{{case[0].client.profile_pic}}" class="wow fadeInRight" alt="">
                                    <h2 class="wow fadeInRight"data-wow-delay=".10s">{{case[0].client.first_name}} &nbsp;&nbsp;{{case[0].client.last_name}}</h2>
                                    <h5  class="wow fadeInRight">Client</h5>
                                </div>
                            </div>
                         </div> 
        </div>
    </section>

    <!--==========================
  About Us Section
============================-->
<section id="about-viewcase">
        <div class="container">
            <!-- <input type="text" id="vc-client_id" value="{{client}}" hidden />
            <input type="text" id="vc-lawyer_id" value="{{lawyer}}" hidden />
            <input type="text" id="vc-case_id" value="{{case[0].case_id}}" hidden />
            <input type="text" id="vc-case_title" value="{{case[0].case_title}}" hidden />
            <input type="text" id="vc-case_desc" value="{{case[0].case_description}}" hidden />
            <input type="text" id="vc-case_stat" value="{{case[0].case_status}}" hidden /> -->
            
                <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Homepage</a></li>
                        <li><a data-toggle="tab" href="#payment">Payment</a></li>
                        <li><a data-toggle="tab" href="#documents">Documents</a></li>
                        <li><a data-toggle="tab" href="#caseDetails">Case Details</a></li>
                        {% if lawyer %}
                        <div style="float:right;">
                           <a href="{{url_for('edit_case',case_id=case[0].case_id,client=client,lawyer_id=lawyer)}}"><button class="normal-button-mine">Edit Case &nbsp;<span class="glyphicon glyphicon-cog"></span></button></a>
                        </div>
                        {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                            {% for ev in event %}
                            <div class="vc-event-container wow fadeInUp" id="{{ev.event_id}}" >
                                <textarea name="" id="" cols="30" rows="10">{{client}}</textarea>
                                {% if lawyer %}
                                <input type="text" id="event-lawyer-id"  value="{{lawyer}}" hidden>                                
                                {% elif client %}
                                <input type="text" id="event-client-id"  value="{{client}}" hidden>
                                {% endif %}
                                <input type="text" id="event-owner-person"  value="{{ev.owner_info.manager}}" hidden>
                                <input type="text" id="event_div_fordel" value="{{ev.event_id}}" hidden>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="text-center">
                                            
                                          <img class="vc-event-pic" src="{{ev.owner_info.profile_pic}}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="text-left">
                                                {% if ev.event_type == 'trial'%}
                                                <span class="label label-info" id="vc-event-container-label">Trial Hearing</span>
                                                {% elif ev.event_type == 'meeting'%}
                                                <span class="label label-warning" id="vc-event-container-label">Meeting</span>
                                                {% endif %}
                                           <h5 class="vc-event-container-name">{{ev.owner_info.first_name}}&nbsp;{{ev.owner_info.last_name}}</h5>
                                           {% if ev.owner_info.manager == 'lawyer'%}
                                           <p>Lawyer</p>
                                           {% elif ev.owner_info.manager == 'client'%}
                                           <p>Client</p>
                                           {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="text-right">


                                            {% if lawyer and ev.owner_info.manager == 'lawyer'%}
                                                <span class="glyphicon glyphicon-remove-sign  " id="removeEventBtn" ></span>
                                            {% elif client and ev.owner_info.manager == 'client'%}
                                                <span class="glyphicon glyphicon-remove-sign " id="removeEventBtn"></span>
                                            {% endif %}

                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="vc-event-context">
                                    <div class="text-center">
                                            <h3>{{ev.event_title}}</h3>
                                            <p><span class="glyphicon glyphicon-map-marker"></span>{{ev.event_location}}</p>
                                    </div>
                                    <div class="text-center">
                                            <p class="vc-event-context">{{ev.event_details}}</p>
                                    </div>
                                            
                                </div>

                            </div>
                            {% endfor %}
                    </div>
                    <div class="tab-pane" id="documents">
                        <h2>hello</h2>
                    </div>
                    <!-- THIS IS THE CREATE EVENT MODAL -->
                    <div class="modal fade" id="creatEvent" role="dialog">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Create Event</h4>
                                </div>
                                <div class="modal-body">
                                        {% if client %}
                                        <input type="text" id="owner" value="client" hidden>
                                        <input type="text" id="owner_id" value="{{client}}" hidden>
                                        {% elif lawyer %}
                                        <input type="text" id="owner" value="lawyer" hidden>
                                        <input type="text" id="owner_id" value="{{lawyer}}" hidden>
                                        {% endif %}
                                        <input type="text" id="lawyer_id" value="{{case[0].lawyer.lawyer_id}}" hidden>
                                        <input type="text" id="client_id" value="{{case[0].client.client_id}}" hidden>
                                        <div class="form-group">
                                                <input type="text" id="event_title" placeholder="Enter Event Title" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                    <input type="text" id="event_location" placeholder="Enter Event Location" class="form-control">
                                                </div>             
                                            <div class="form-group">
                                                    <div class='input-group date' id='event_date'>
                                                            <input data-format="dddd, MMMM DD, YYYY" type='text' class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                            </div> 
                                            <div class="form-group">
                                                    <div class='input-group date' id='event_time'>
                                                            <input data-format="LT" type='text' class="form-control"/>
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>
                                                </div>
                                            <div class="form-group">
                                                
                                                <select class="form-control" id="event_type">
                                                    <option value="None">Select Event Type</option>
                                                    <option value="trial">Trial</option>
                                                    <option value="meeting">Meeting</option>
                                                </select>
                                            </div>               
                                            <div class="form-group">
                                                <textarea class="form-control" name="" id="event_details" cols="30" rows="10">asdfasdfasdfasdfasdfasdfasdfasdfadfs</textarea>
                                            </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" id="createEvent">Create Now</button>
                                
                                </div>
                              </div>
                            </div>
                          </div>

                </div>
        </div>
      </section><!-- #about -->
{% endblock %}